/* Write your CSS here */

li {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding-right: 30px;
}

button {
  background-color: #fff;
  color: #ff0b37;
  border: 2px solid #ff0b37;
  border-radius: 10px;
  padding: 10px 20px;
}

p {
  color: #000000;
  font-size: 20px;
}
